<form class="ui stacked segment form" action="/bookmark/{{bookmark.id}}/addweb" method="POST">
  <div class = "two fields">
    <div class = "field">
      <label>Website</label>
      <input placeholder = "Website" type= "text" name ="website" autofocus required>
    </div>
    
    <div class="field">
      <label>Website Address</label>
      <input placeholder="Website Address" type="text" name="webaddress" required>
    </div>
  </div>
  
  <button class="ui blue submit button">Add Website</button>
  
  <label></label>
  
</form>