<div class="ui stacked segment comments" style="margin: 0 auto;">
  <h1 class="ui dividing header">Comments Left by User</h1>
   {{#each comments}}
  <div class="comment">
    
    <div class="content">
      <div class="text">
        {{comment}}
      </div>
    </div>
  </div>
    {{/each}}
</div>

