{{> menu id="about"}}



<section>
  <br>
  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="https://cdn.glitch.com/2e7e195f-8aeb-4aa6-9de5-9981c0a9cf45%2Ftyuiop.jpg?1520616293510">
  <h1>Kevin O'Keeffe</h1>
  <p class="title">Web Designer</p>
  <p>Waterford Institute of Technology</p>
 
  <a href="https://www.linkedin.com/in/kevin-o-keeffe-03173765/"><i class="fa fa-linkedin"></i></a> 
  <a href="https://www.facebook.com/kevokeeffeart/?ref=settings"><i class="fa fa-facebook"></i></a> 
  <p><button class= "button1">Contact</button></p>
</div>
  
  
  
  
</section>

<section class="ui center aligned middle aligned segment">
  <p>
    Bookmark buddy is a fun and easy to use web app for keeping track of your favourate websites.
  
  <i class= "ireland flag"></i><br><br>
</p>
</section>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Kevin O'Keeffe
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="https://cdn.glitch.com/2e7e195f-8aeb-4aa6-9de5-9981c0a9cf45%2Fbookmark3.jpg?1520602217008">
    </div>
    <div class="description">
      
      <address>47 Beech Park Viewmount, Waterford City, Ireland</address><a href="https://www.facebook.com/akakok" target="_blank">Facebook Profile</a>
      <p>kevokeeffe@gmail.com</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
